* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
}
h1, h2, h3 {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
h1 {
    font-size: 3rem;
    margin-top: 2.25rem;
    /* text-shadow: 0 0 3px #ccc, 0 0 5px rgba(0, 255, 255, 0.75), 0 0 20px rgba(0, 255, 255, 0.253); */
    color: #666;
    font-weight: lighter;
}
h2 {
    font-size: 2rem;
}
h3 {
    text-shadow: 0 0 4px #8888884f, 0 0 6px rgba(0, 255, 255, 0.25), 0 0 32px rgba(0, 255, 255, 0.5);
    color: #666;
    font-size: 2rem;
    margin-top: 3rem;
}
a {color: #1d1d1dc4; text-shadow: 0 0 2px rgba(0, 255, 255, 0.25); text-decoration: none; font-weight: lighter;}
img {
    max-width: 100vw;
    max-height: 100vh;
}

ul, ol {
    width: 100%;
    margin-inline-start: auto;
}



/* CLASSES */


.spread-content-body-data {
    padding-bottom: 5rem;
}

.spread-content-list {
    width: 100%;
    padding: 2rem;
    padding-left: 2.75rem;
}


.spread-content-list-2 {
    margin-top: 5rem;
    
}
.spread-content-list li {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: lighter;
    padding: 0.5rem;
}
.spread-content-list li::marker {
    color: rgba(0, 255, 255, 0.932);
    text-shadow: 0 0 5px #000000be;
    font-weight: bold;
    font-size: 1.5rem;
}

.spread-content-list-2 li a {
    position: relative;
    width: 100%;
}
.spread-content-list-2 li a::after {
    content: '';
    width: 100%;
    min-width: 100%;
    height: 2px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -1rem;
    box-shadow: 0 0 5px #0000008a;
}

.spread-content-list-2 li {
    background-color: #eee;
    box-shadow: 4px 4px 4px #ddd, -4px -4px 4px #fff;
    padding: 1rem;
    margin-bottom: 2.5rem;
    width: 100%;
    margin-left: 5%;
    border-radius: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spread-content-list-2 li img {
    border-radius: 0.75rem;
    margin-top: 2.5rem;
    box-shadow: 8px 8px 4px #ddd, -8px -8px 4px #fff, inset 0 0 20px 8px rgba(0, 255, 255, 0.125);
    padding: 0rem;
    padding-bottom: 0rem;
    border: solid 1px rgba(255, 255, 255, 0.5);
    opacity: 0.75;
    transition: ease-in-out 1000ms;
    filter: drop-shadow(0 0 8px transparent);
    max-width: 100%;
}

.spread-content-list-2 li img:hover {
    border: solid 1px rgba(0, 255, 255, 1);
    opacity: 1;
    padding: 1.25rem;
    padding-bottom: 4rem;
    filter: drop-shadow(0 4px 8px rgb(164, 255, 255));
    box-shadow: 2px 2px 1px #ddd, -2px -2px 1px #fff, inset 0 0 16px 4px rgba(0, 255, 255, 0.2);
}

.spread-content-list>li:last-of-type li{
    margin-left: -0.75rem;
}